/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #1d1e1f;
  color: #c2bfbf;
  font-family: Helvetica;
  font-size: 32px;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 12px; }

h4 {
  font-size: 42px;
  margin-bottom: 12px; }

.rating {
  border: 2px solid #1d1e1f;
  font-size: 28px;
  font-weight: bold;
  margin-left: 20px;
  padding: 0 2px;
  position: relative;
  top: -4px; }

.clear-float {
  clear: both;
  float: none; }

.movies__search {
  background: #1d1e1f;
  height: 80px;
  left: 0;
  padding: 40px;
  position: fixed;
  top: 0;
  width: calc(100% - 80px);
  z-index: 2; }
  .movies__search input {
    background: #3d4551;
    border: 1px solid #676464;
    border-radius: 6px;
    color: #c2bfbf;
    display: block;
    font-size: 32px;
    height: calc(100% - 2px);
    padding: 0 20px;
    width: calc(100% - 42px); }

.movies__header {
  background: #de0744;
  height: 140px;
  left: 0;
  padding: 40px;
  position: fixed;
  top: 160px;
  width: calc(100% - 80px);
  z-index: 2; }
  .movies__header h1 {
    margin-top: 18px; }
  .movies__header a {
    display: block;
    left: 40px;
    top: 90px;
    position: absolute; }
    .movies__header a > svg {
      transform: rotate(180deg); }
  .movies__header__content {
    left: 80px;
    position: relative; }

.movies__list {
  min-height: 100vh;
  padding-top: 380px;
  position: relative; }
  .movies__list ul {
    list-style-type: none;
    padding: 0 0 220px 0; }
  .movies__list__wrapper {
    background: #1d1e1f; }
  .movies__list__header {
    padding: 40px;
    text-transform: uppercase; }
    .movies__list__header--left {
      float: left; }
    .movies__list__header--right {
      float: right; }
  .movies__list__item {
    border-bottom: 2px solid #1d1e1f;
    height: 140px;
    padding: 40px;
    position: relative;
    background: linear-gradient(to bottom, #21252c 0%, #1b1e23 100%); }
    .movies__list__item__love {
      left: 40px;
      position: absolute;
      top: 90px; }
      .movies__list__item__love .path {
        fill: #ffffff; }
      .movies__list__item__love .line {
        stroke: blue;
        stroke-width: 10;
        opacity: 1; }
    .movies__list__item__details {
      left: 80px;
      position: relative;
      width: calc(100% - 160px); }
      .movies__list__item__details h5 span {
        margin-right: 20px; }
    .movies__list__item__more-info {
      position: absolute;
      right: 40px;
      top: 90px; }
      .movies__list__item__more-info .line {
        fill: #de0744; }
    .movies__list__item:nth-child(even) {
      background: linear-gradient(to bottom, #3d4551 0%, #3a414d 100%); }
      .movies__list__item:nth-child(even) .movies__list__item__more-info .line {
        fill: #1d1e1f; }
  .movies__list .movies__poster {
    display: none; }

.movies__toolbar {
  background: #231e1e;
  bottom: 0;
  height: 80px;
  left: 0;
  padding: 40px;
  position: fixed;
  width: calc(100% - 20px); }
  .movies__toolbar .dropdown__wrapper.false .dropdown__options {
    opacity: 0; }
  .movies__toolbar .dropdown__options {
    background: #3d4551;
    border-radius: 6px;
    bottom: 180px;
    box-shadow: 0 0 60px #231e1e;
    padding: 40px 0;
    position: absolute;
    transition: opacity .5s; }
    .movies__toolbar .dropdown__options li {
      padding: 20px 40px; }
      .movies__toolbar .dropdown__options li:hover {
        background-color: #de0744; }
