$color-black-1: #231e1e;
$color-black-2: #1d1e1f;
$color-gray-1: #c2bfbf;
$color-gray-2: #676464;
$color-gray-3: #3d4551;
$color-pink: #de0744;

$text-gray: $color-gray-1;
$border-gray: $color-gray-2;

$padding: 40px;
$borders: 6px;

$search-height: 80px;
$header-height: 140px;
