@import 'config';
@import '../../node_modules/reset-css/_reset';

body {
  background: $color-black-2;
  color: $text-gray;
  font-family: Helvetica;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 6px;
}

h4 {
  font-size: 22px;
  margin: 12px 0 6px 0;
}

p {
  line-height: 24px;
}

.rating {
  border: 1px solid $color-black-2;
  font-size: 14px;
  font-weight: bold;
  margin-left: $padding / 2;
  padding: 0 1px;
  position: relative;
  top: -2px;
}

.clear-float {
  clear: both;
  float: none;
}

.twitter {
  fill: $color-twitter-blue;
}

.facebook {
  fill: $color-facebook-blue;
}
