@import 'config';
@import '../../node_modules/reset-css/_reset';

body {
  background: $color-black-2;
  color: $text-gray;
  font-family: Helvetica;
  font-size: 32px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 12px;
}

h4 {
  font-size: 42px;
  margin-bottom: 12px;
}

.rating {
  border: 2px solid $color-black-2;
  font-size: 28px;
  font-weight: bold;
  margin-left: $padding / 2;
  padding: 0 2px;
  position: relative;
  top: -4px;
}

.clear-float {
  clear: both;
  float: none;
}
